<section id="menu-white">
  <div class="menu__container">
    <span class="special-menu-text">Special Menu</span>
    <ul class="menu__list">
        <% if (foods.length !== 0) { %>
            <% foods.forEach(food => { %>
                <li id="<%- food._id %>" href='javascript:;' class="add-cart" data-id="<%- food._id %>" data-name="<%- food.name %>" data-price="<%- food.price.toFixed(2) %>" data-img="<%- food.img %>" data-qty="<%- food.qty %>">
                    <div class="img">
                        <img id="food-img" src=<%- food.img %> alt="">
                        <div class="price">
                            <a href="javascript:;">
                                <span class="new-label">
                                    <b id="food-price">₱<%- food.price.toFixed(2) %></b>
                                </span>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="title" id="food-name"><%- food.name %></a>
                </li>
            <% }) %>
        <% } %>
       
      
    </ul>
  </div>
  <div class="cart-bag">
    <div class="card">
      <span class="card-header"> Food Cartel </span>
      <p><%- req.identity.username %></p>
      <hr style="margin: 15px 0;"/>
      <ul id="cartitems-group">

        <hr style="margin: 15px 0;">
      </ul>
      <div class="justifycontent">
        <p>Subtotal</p>
        <p id="subtotal"></p>
      </div>
      <hr style="margin: 15px 0;">
      <button class="checkout-btn" onclick="location.href = '/checkout';">Checkout</button>
    </div>
  </div>
</section>
