<section id="order_list">
  <div class="order_tbl">
    <div class="card">
      <div class="card_header">Order List</div>
      <div>
        <table id="order-datatable" class="display" style="width: 100%">
          <thead>
            <tr>
              <th>Order</th>
              <th>Price</th>
              <th>Payment Method</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% orders.forEach(order=> { %>
              <tr id="<%- order._id %>" class="view-order" data-id="<%- order._id %>"
                data-date="<%- moment(order.date_created).format('Do MMMM, YYYY') %>">
                <td><%- order.total_qty %> items</td>
                <td><%- order.total_amount %></td>
                <td>Paypal</td>
                <td>
                  <% if (order.status === "Order Received") { %>
                  <span class="badge badge--orange">
                    <%- order.status %>
                  </span>
                  <% }else if(order.status === "Preparing"){ %>
                    <span class="badge badge--skyblue">
                      <%- order.status %>
                    </span>
                  <% }else if(order.status === "Cooking"){ %>
                    <span class="badge badge--lightblue">
                      <%- order.status %>
                    </span>
                  <% }else if(order.status === "Ready to Serve"){ %>
                    <span class="badge badge--lightsalmon">
                      <%- order.status %>
                    </span>
                  <% }else if(order.status === "Food is Served"){ %>
                    <span class="badge badge--green">
                      <%- order.status %>
                    </span>
                    <% } else{%>
                      <span class="badge badge--outline">
                        <%- order.status %>
                      </span>
                    <% } %>
              </td>
                <td><%- moment(order.date_created).format('Do MMMM, YYYY') %></td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="order_details">
    <div class="card">
      <div class="card_header" style="display: flex;">
        Order Summary
        <span id="order_badge"> </span>
      </div>
      <div id="order_info">
      </div>

      <ul id="orderitems-group">
        <hr style="margin: 15px 0;" />
        <div class="center">
          - Please Select Order -
        </div>
      </ul>

      <div id="total_details">

      </div>
    </div>
    
  </div>
  </div>
</section>